/*Page buttons*/
div[class^="sheet-section"] { 	
	display: none;
}

input.sheet-tab1:checked ~ div.sheet-section-skills,
input.sheet-tab2:checked ~ div.sheet-section-vehicle,
input.sheet-tab3:checked ~ div.sheet-section-possessions{
	display: block;
    border: 1px solid #a8a8a8;    
}
